.parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 500px;
    font-size: 500%;
}

.parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: -100px;
}

.parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.85);
    z-index: 1;
}
.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 3;
}

#section1 {
    background-image: url("../images/bg1.jpg");
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerText {
    position: absolute;
    top: 52%;
    padding-left: 7%;
}


.firstBackText_Big {
    font-family: Montserrat;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

.firstBackText_Small {
    font-family: Lato;
    color: #ffffff;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.borderText {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    width: 831px;
    height: 129px;
}

.tegline {
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 700;
    color: white;
    margin-top: 33px;
}

.tegline span {
    color: #f1ad1d;
    background-color: #ffffff;
    padding-left: 33px;
    padding-right: 14px;
    padding-top: 32px;
    padding-bottom: 33px;
}

#section2 {
    text-align: center;
}

#section2 div {
    font-family: Montserrat;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 112px;
    margin-bottom: 25px;
}

#section2 span {
    font-family: Lato;
    color: #4d4943;
    font-size: 17px;
    line-height: 24px;
}
.hr2 {
    margin-top: 52px;
    margin-bottom: 137px;
}

#section3 {
    background-image: url("../images/bg2.jpg");
    width: 100%;
    height: 230px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 150px;
}

#section3 span {
    color: #f1ad1d;
}

.hr3 {
    margin-top: 60px;
    margin-bottom: 150px;
}

#section4 {
    text-align: center;
}

#section4 div {
    font-family: Montserrat;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 136px;
    margin-bottom: 25px;
}

#section4 span {
    font-family: Lato;
    color: #4d4943;
    font-size: 17px;
    line-height: 24px;
}

.hr4 {
    margin-top: 55px;
    margin-bottom: 180px;
}

#section5 {
    background-image: url("../images/bg3.jpg");
    width: 100%;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 174px;
}

#section5 span {
    color: #f1ad1d;
}

.hr5 {
    margin-top: 55px;
    margin-bottom: 60px;
}

#section6 {
    text-align: center;
}

#section6 div {
    font-family: Montserrat;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 157px;
    margin-bottom: 25px;
}

#section6 span {
    font-family: Lato;
    color: #4d4943;
    font-size: 17px;
    line-height: 24px;
}

.hr4 {
    margin-top: 55px;
    margin-bottom: 122px;
}

#section7 {
    background-image: url("../images/bg4.jpg");
    width: 100%;
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 174px;
}

.style1 {
    font-family: Open Sans;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: none;
}

.style2 {
    font-family: Open Sans;
    color: #f1ad1d;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: none;
}

#section7 span {
    color: #f1ad1d;
}

.hr5 {
    margin-top: 55px;
    margin-bottom: 55px;
}

.hr6 {
    margin-top: 35px;
    margin-bottom: 110px;
}

#section8 {
    text-align: center;
    height: 250px;
}

#section8 div {
    font-family: Montserrat;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 157px;
    margin-bottom: 25px;
}

#section8 span {
    font-family: Lato;
    color: #4d4943;
    font-size: 17px;
    line-height: 24px;
}
